.caixa_formulario {
    background: rgb(255, 255, 255);
    width: 400px;
    height: 500px;
    color: #963ac8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    opacity: 80%;
    border: 4px solid #963ac8;
    border-radius: 2px;
}

.caixa_formulario h1 {
    font-size: 30px;
}

.formulario {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.formulario button {
    margin-top: 25px;
    padding: 10px 20px ;
    background-color: rgb(161, 10, 255);
    color: #FFF;
    border: none;
    width: 100px;
    border-radius: 5px;
}

.formulario input {
    padding: 10px 15px;
    text-align: center;
    border: 2px solid rgb(82, 143, 196);
    border-radius: 10px;
}

.formulario span {
    font-size: 19px;
}

.footer{
    height: 100px;
    background-color: #963ac8;
 }
 
 .footer .container{
    justify-content: center;
    align-items: center;
    height: 100%;
 }
 
 .footer .container p{
    color: #fff;
    font-size: medium;
 }
 .header div a:hover {
    content: url(Ordo_Technologiae__1_-removebg-preview.png);
    margin-top: -20%;
     transition: 0.5s ;
     size: 15px;
     width: 40px;
      margin-left: 10px;}