
*{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
}

body {
   margin: 0;
   /* background: rgb(16, 1, 14); */
   background-image: url("../assets/fundoLog.jpg");

}

/* Começo do cabeçalho */

.header {
   border-bottom: 7px solid rgba(130, 27, 168,0.4) ;
   border-radius: 10px;
   width: 100%;
   
}

.container {
   width: 100%;
   margin: auto;
   display: flex;
}

.header .container {
   justify-content: space-between;
}

/* .header ul .aqui {
   font-weight: 10000;
   color: #963ac8;
   font-size: 30;
} */
.aqui{
   font-weight: 1000;
   font-size: 25px;
   color: #5d12bf;
   
   -webkit-text-stroke: 1px color(srgb rgb(0, 0, 0) rgb(0, 0, 0) rgb(0, 0, 0));
   text-shadow: 2px 3px 3px rgb(73, 2, 84)
}
ul {
   color: #963ac8;
}

a {
   color: #5d12bf;
   text-decoration: none;
   font-size: 20px;
   
  font-weight: bold;
  font-family: Poppins, sans-serif;
   -webkit-text-stroke: 2px color(srgb rgb(0, 0, 0) rgb(0, 0, 0) rgb(0, 0, 0));
   text-shadow: 3px 4px 3px rgb(73, 2, 84)
}

.titulo {
   color: #963ac8;
   text-shadow: 1px 4px 4px rgb(89, 12, 113);
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navBar {
   /* width: 600px; */
   padding: 0;
   margin-bottom: 20px;
   list-style: none;
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-direction: row;
   width: 100%;
   height: 40px;
   /* color: #963ac8; */
}
/* .navbar {
   display: flex;
   flex-direction: row;
   list-style: none;
   justify-content: space-around;
   width: 100%;
   height: 40px;
   color: #963ac8;
   align-items: center;
}
*/
 .navbar p{
  display: flex;
  padding: 10%;
  align-items: center;
  justify-content: center;
}   
.navbar li a{
   font-size: 60px;
}

/* Fim do cabeçalho */

/* Começo do Banner */

.banner {
   height: 600px;
   color: #fff;
   display: flex;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
}

.banner .container p span {
   font-weight: 1000;
   
   
}

.banner .container {
   font-size: 36px;
   justify-content: center;
   align-items: center;
   background-size: cover;
   height: 75vh;}

.banner .container p {
   width: 100%;
}

/* Fim do banner */

/* Começo do Social */
.social {
   background-color: rgb(74, 13, 180);
   display: flex;
}

.box img {
   width: 170px;
}

.social .container .boxes {
   display: flex;
   width: 100%;
   justify-content: space-evenly;
}

.box {
   margin-top: 200px;
   display: flex;
   flex-direction: column;
   align-items: center;
   filter: blur(8px);
 -webkit-filter: blur(8px);
}

.social p {
   text-align: center;
}

/* Final do Social */

.caixa_formulario {
   background: transparent;
   backdrop-filter: blur(20px);
   box-shadow: 0 0 10px rgba(0, 0, 0, .2);
   width: 40%;
   height: 550px;
   color: #963ac8;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border-radius: 4px;
   /* opacity: 80%; */
   border: 4px solid #963ac8;
   border-radius: 2px;
   padding: 10px;
}

.container .caixa_formulario{
   margin-top: 20%;
   margin-bottom: 20%;
}
.container .elemento{
   display: grid;
   grid-template-columns: 200px 200px 200px 200px;
   grid-template-rows: 20px 20px 20px;
   /* display: flex; */
   justify-content: center;
   align-items: center;
   margin-left: 295px;
}

.caixa_formulario h1 {
   font-size: 30px;
}

.formulario {
   display: flex;
   flex-direction: column;
   width: 180px;
   
   
}
.caixa_formulario p{
   display: flex;
   font-size: medium;
   justify-content: center;
   align-items: center;
   width: 200px;
   /* line-height: 5px; */
}

.formulario button {
   margin-top: 25px;
   padding: 10px 20px ;
   background-color: rgb(161, 10, 255);
   color: #FFF;
   border: none;
   width: 100px;
   border-radius: 5px;
   margin-left: 20%;
   margin-bottom: 20px;
}

.formulario input {
   padding: 10px 15px;
   text-align: center;
   border: 2px solid rgb(57, 0, 81);
   border-radius: 10px;
   background-color: #40127c;
}
.formulario input:hover {
   padding: 10px 15px;
   text-align: center;
   border: 2px solid rgb(57, 0, 81);
   border-radius: 10px;
   background-color: #9e5af8;
   transition: 1s;
}
.formulario select {
   width: 20px;
   padding: 10px 15px;
   text-align: center;
   border: 2px solid rgb(57, 0, 81);
   border-radius: 10px;
   background-color: #40127c;
}
.formulario select:hover {
   width: 20px;
   padding: 10px 15px;
   text-align: center;
   border: 2px solid rgb(57, 0, 81);
   border-radius: 10px;
   background-color: #ac6dff;
}
.formulario  input::placeholder{
   color: #963ac8;
}

.formulario span {
   font-size: 22px;
   
   font-weight: bold;
}

.footer{
   height: 100px;
   background-color: #963ac8;
   opacity: 80%;
}

.footer .container{
   justify-content: center;
   align-items: center;
   height: 100%;
   margin-top: 0.4%;
}

.footer .container p{
   color: #fff;
   font-size: medium;
}
.header div a:hover {
   content: url('../assets/Ordo_Technologiae__1_-removebg-preview.png');
   margin-top: -20%;
    transition: 0.5s ;
    size: 15px;
    width: 40px;
     margin-left: 10px;}


